section#options {
    display: block;
    margin: 2em 0;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
    overflow-y: hidden;
    height: auto;
}

button[type=button].optionBtn {
    text-align: left;
    max-width: 325px;
}

i.optionBtnIcon {
    margin-right: .3em;
}

input[type=checkbox]#optionsToggle {
    display: none;
}

label#optionsToggleLabel {
    font-weight: bold;
    display: block;
    background-color: lightgoldenrodyellow;
    max-height: 0;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
    overflow-y: hidden;
}

label#optionsToggleLabel:hover {
    cursor: pointer;
    background-color: #F0B27A;
}

i#chevronIcon {
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

i#spinner {
    display: none;
    width: .7em;
    height: .7em;
    -webkit-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    -webkit-transform-origin: 75% 75%;
    -moz-transform-origin: 75% 75%;
    -ms-transform-origin: 75% 75%;
    -o-transform-origin: 75% 75%;
    transform-origin: 75% 75%;
}

i#spinner.show {
    display: inline-block;
}

@media screen and (max-width: 500px){

    label#optionsToggleLabel {
        padding: 1em;
        max-height: 100px;
    }

    input[type=checkbox]#optionsToggle:not(:checked) ~ section#options {
        max-height: 0;
        margin: 0;
    }

    input[type=checkbox]#optionsToggle:checked ~ section#options {
        max-height: 50vh;
        background-color: aliceblue;
        margin: 0;
        padding-bottom: 1em;
        border-bottom: 1px solid darkblue;
    }

    input[type=checkbox]#optionsToggle:checked ~ label i {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
