main {
    width: 70%;
    margin: 0 auto;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}

.blurred {
    filter: blur(3px) grayscale(100%);
    -webkit-filter: blur(3px) grayscale(100%);
}

main.blurred * {
    cursor: default;
}

button.greenBtn, button.blueBtn, button.redBtn  {
    font-size: initial;
    font-weight: bold;
    margin: .2em 0;
    width: 100%;
    border: 1px solid;
}

button.greenBtn {
    background-color: rgba(125, 206, 160, .5);
    border-color: rgb(125, 206, 160);
}

main:not(.blurred) button.greenBtn:hover,
div.modal button.greenBtn:hover
{
    background-color: rgba(125, 206, 160, .8);
}

main:not(.blurred) button.greenBtn:active,
div.modal button.greenBtn:active
{
    background-color: rgba(125, 206, 160, 1);
}

button.blueBtn {
    background-color: rgba(133, 193, 233, .5);
    border-color: rgb(133,193,233);
}

main:not(.blurred) button.blueBtn:hover,
div.modal button.blueBtn:hover
{
    background-color: rgba(133, 193, 233, .8);
}

main:not(.blurred) button.blueBtn:active,
div.modal button.blueBtn:active
{
    background-color: rgba(133, 193, 233, 1);
}

button.redBtn {
    background-color: rgba(241, 148, 138, .5);
    border-color: rgb(241, 148, 138);
}

main:not(.blurred) button.redBtn:hover,
div.modal button.redBtn:hover
{
    background-color: rgba(241, 148, 138, .8);
}

main:not(.blurred) button.redBtn:active,
div.modal button.redBtn:active
{
    background-color: rgba(241, 148, 138, 1);
}
