div.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%);
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 1.5em;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: .3em;
    box-shadow: .1em .1em .5em black;
    width: 80%;
    height: auto;
    max-height: 80%;
    margin: 0 auto;
    z-index: 99;
    opacity: 1;
    transition: opacity 400ms;
    overflow-y: auto;
}

div.modal.hidden {
    visibility: hidden;
}

div.modal.transparent {
    opacity: 0;
}
