header {
    display: flex;
    padding: .5em;
    margin: 0 auto;
    background-color: #F0F0F0;
    text-align: center;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
    flex-direction: row;
}

header section {
    flex-grow: 1;
    margin: 0 1em;
    text-align: left;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
    width: 50%;
}

header div#infoSection {
    flex-grow: 1;
    margin: 0 1em;
    text-align: right;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
    flex-direction: column;
    line-height: 5em;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header > section a {
    text-decoration: none;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

header > section a:visited {
    color: initial;
}

header > section a:hover {
    color: #F0B27A;
}

header section h1 {
    font-size: 1.7em;
}

span.red {
    color: red;
    font-weight: bold;
}

span.green {
    color: green;
    font-weight: bold;
}

svg {
    width: 20px;
    height: 20px;
}

svg path {
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
}

svg#noteItIconSVG {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
   margin-right: .7em;
}

.pencilPart1Hovered {
    fill: #F7DC6F;
    -webkit-transform: translateX(-.4em) translateY(-2em) rotate(40deg);
    -moz-transform: translateX(-.4em) translateY(-2em) rotate(40deg);
    -ms-transform: translateX(-.4em) translateY(-2em) rotate(40deg);
    -o-transform: translateX(-.4em) translateY(-2em) rotate(40deg);
    transform: translateX(-.4em) translateY(-2em) rotate(40deg);
}

.pencilPart2Hovered {
    fill: #F1948A;
    -webkit-transform: translateX(-.4em) translateY(-2em) rotate(40deg);
    -moz-transform: translateX(-.4em) translateY(-2em) rotate(40deg);
    -ms-transform: translateX(-.4em) translateY(-2em) rotate(40deg);
    -o-transform: translateX(-.4em) translateY(-2em) rotate(40deg);
    transform: translateX(-.4em) translateY(-2em) rotate(40deg);
}

@media screen and (max-width: 500px) {
    header {
        flex-direction: column;
    }

    header section {
        text-align: center;
        width: 100%;
        margin-left: 0;
    }

    header div#infoSection {
        text-align: center;
        line-height: 2em;
        width: 100%;
        margin-left: 0;
    }

    header div#infoSection div {
        line-height: 2em;
    }
}
