a.mapLink {
    color: black;
    display: inline-block;
    padding: .2em;
    line-height: 1.2em;
    text-decoration: none;
    background-color: #F0F0F0;
    border-radius: .2em;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
    -webkit-box-shadow: .1em .1em .2em black;
    -moz-box-shadow: .1em .1em .2em black;
    box-shadow: .1em .1em .2em black;
    text-align: center;
}

a.mapLink:hover {
    background-color: lightgrey;
}

a.mapLink:active {
    color: black;
    background-color: grey;
}

a.mapLink:visited {
    color: black;
}

a > span.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}

a > span.extLink::before {
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
    content: "\f35d";
}

.gmIcon {
    vertical-align: bottom;
    width: 1.1em;
    height: 1.1em;
}
