li.listItem {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border-radius: .3em;
    padding: 1em;
    margin: 1em 0;
    text-align: left;
    list-style-type: none;
    display: block;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

li.listItem.deleted {
    overflow: hidden;
    max-height: 0 !important;
    margin: 0;
    padding: 0;
}

main:not(.blurred) li:hover {
    -webkit-box-shadow: 0 0 .1em .3em lightgray;
    -moz-box-shadow: 0 0 .1em .3em lightgray;
    box-shadow: 0 0 .1em .3em lightgray;
}


h2.noteName {
    font-size: 1.2em;
    margin: 0;
}

td {
    padding: .2em;
}

i.info-icon {
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

tr:hover > td > i.fa-calendar-day {
    color: green;
}

tr:hover > td > i.fa-map-marker-alt {
    color: red;
}

main:not(.blurred) button.noteBtn:hover {
    background-color: rgba(0, 0, 0, .1);
}

main:not(.blurred) button.noteBtn:active {
    background-color: rgba(0, 0, 0, .3);
}

button.noteBtn:focus {
    outline: none;
}

@media screen and (max-width: 500px) {
    main {
        width: 100%;
    }

    li.listItem {
        margin: 0;
        border-radius: 0;
    }

    main:not(.blurred) li:hover {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}
