html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

div#root {
    text-align: center;

}

section {
    margin-bottom: 1em;
}

div > section {
    flex-grow: 1;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: .8em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

button:focus {
    outline: none;
}

select {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    text-align: left;
}

input[type=text], textarea {
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
    font-size: initial;
    margin: 0 0 1em 0;
    padding: .7em;
    border: 1px solid lightgrey;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

input[type=text]:focus, textarea:focus {
    outline: none;
    border-color: black;
}

input.error, textarea.error {
    border-color: red;
}

input[type=text] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}

input[type=radio] {
    text-align: left;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    resize: none;
}

h3 {
    text-align: left;
}

.colorPreview {
    display: inline-block;
    width: .8em;
    height: .8em;
    margin: 0 .3em;
}

select#noteColor {
    padding: .8em;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
}

label.hidden {
    display: none;
}

label.error {
    display: block;
    color: red;
    margin-bottom: 1.5em;
}

div#messageBox {
    display: table;
    position: fixed;
    width: 100%;
    min-height: 3em;
    background-color: #F0F0F0;
    bottom: -11em;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
    border-top: 1px solid black;
}

div#messageBox.show {
    bottom: 0;
}

div#messageBox span#message {
    display: table-cell;
    vertical-align: middle;
}
