ul#noteList {
    margin: 0;
    padding: 0;
}

section#emptyNoteList {
    padding: 2em 0;
}

section#emptyNoteList h3 {
    text-align: center;
    font-weight: normal;
    color: grey;
    font-style: italic;
}
